flows/.flowMqtt.json.backup
[{"id":"4f00de5d.a3e81","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3233b34.947e64c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4701934e.1c3ccc","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bcb6f0ae.e04e2","type":"websocket-client","z":"","path":"ws://127.0.0.1:9001","tls":"","wholemsg":"false"},{"id":"dfaeaf1f.8979e","type":"websocket-listener","z":"","path":"ws://127.0.0.1:9001","wholemsg":"true"},{"id":"685c2348.8cf92c","type":"websocket-listener","z":"","path":"ws/test","wholemsg":"false"},{"id":"e7fa1656.f6ef18","type":"mqtt in","z":"4f00de5d.a3e81","name":"","topic":"test","qos":"2","broker":"4701934e.1c3ccc","x":270,"y":280,"wires":[["ae283741.901a38"]]},{"id":"ae283741.901a38","type":"debug","z":"4f00de5d.a3e81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":280,"wires":[]},{"id":"114b42d9.8a9e3d","type":"inject","z":"4f00de5d.a3e81","name":"","topic":"","payload":"Oleg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":120,"wires":[["7925db91.928644"]]},{"id":"7925db91.928644","type":"mqtt out","z":"4f00de5d.a3e81","name":"","topic":"test","qos":"","retain":"","broker":"4701934e.1c3ccc","x":440,"y":120,"wires":[]},{"id":"a6de53a3.21e7","type":"status","z":"4f00de5d.a3e81","name":"","scope":null,"x":600,"y":120,"wires":[[]]}]