flows/.flows.json.backup
[
    {
        "id": "4f00de5d.a3e81",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3233b34.947e64c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4701934e.1c3ccc",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1884",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "bcb6f0ae.e04e2",
        "type": "websocket-client",
        "z": "",
        "path": "ws://127.0.0.1:9001",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "dfaeaf1f.8979e",
        "type": "websocket-listener",
        "z": "",
        "path": "ws://127.0.0.1:9001",
        "wholemsg": "true"
    },
    {
        "id": "685c2348.8cf92c",
        "type": "websocket-listener",
        "z": "",
        "path": "ws/test",
        "wholemsg": "false"
    },
    {
        "id": "17f9af41.6ce771",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4c69bf46.1c5ee",
        "type": "ui_tab",
        "z": "",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "a8d1af91.d4afb",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "4c69bf46.1c5ee",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e7fa1656.f6ef18",
        "type": "mqtt in",
        "z": "4f00de5d.a3e81",
        "name": "",
        "topic": "test",
        "qos": "2",
        "broker": "4701934e.1c3ccc",
        "x": 246,
        "y": 371,
        "wires": [
            [
                "ae283741.901a38"
            ]
        ]
    },
    {
        "id": "ae283741.901a38",
        "type": "debug",
        "z": "4f00de5d.a3e81",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 617,
        "y": 366,
        "wires": []
    },
    {
        "id": "114b42d9.8a9e3d",
        "type": "inject",
        "z": "4f00de5d.a3e81",
        "name": "",
        "topic": "",
        "payload": "Oleg",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 172,
        "y": 116,
        "wires": [
            [
                "7925db91.928644"
            ]
        ]
    },
    {
        "id": "7925db91.928644",
        "type": "mqtt out",
        "z": "4f00de5d.a3e81",
        "name": "",
        "topic": "test",
        "qos": "",
        "retain": "",
        "broker": "4701934e.1c3ccc",
        "x": 676,
        "y": 116,
        "wires": []
    },
    {
        "id": "9556eab3.a454f8",
        "type": "ui_button",
        "z": "4f00de5d.a3e81",
        "name": "",
        "group": "a8d1af91.d4afb",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "star",
        "payloadType": "flow",
        "topic": "fa",
        "x": 474,
        "y": 274,
        "wires": [
            [
                "7925db91.928644"
            ]
        ]
    },
    {
        "id": "ff59bee4.6d5a",
        "type": "ui_text_input",
        "z": "4f00de5d.a3e81",
        "name": "",
        "label": "",
        "group": "a8d1af91.d4afb",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "fa",
        "x": 102,
        "y": 278,
        "wires": [
            [
                "f5e11cdb.abc3b"
            ]
        ]
    },
    {
        "id": "f5e11cdb.abc3b",
        "type": "function",
        "z": "4f00de5d.a3e81",
        "name": "storeData",
        "func": "var flowContext = flow.set('star', 'test');\nreturn flow.get('star');",
        "outputs": 1,
        "noerr": 0,
        "x": 273,
        "y": 276,
        "wires": [
            [
                "9556eab3.a454f8"
            ]
        ]
    }
]