flows/flowMqtt.json
[{"id":"4f00de5d.a3e81","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4701934e.1c3ccc","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bcb6f0ae.e04e2","type":"websocket-client","z":"","path":"ws://127.0.0.1:9001","tls":"","wholemsg":"false"},{"id":"dfaeaf1f.8979e","type":"websocket-listener","z":"","path":"ws://127.0.0.1:9001","wholemsg":"true"},{"id":"685c2348.8cf92c","type":"websocket-listener","z":"","path":"ws/test","wholemsg":"false"},{"id":"4dfe83eb.3a149c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6d207ea4.93c28","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"e7fa1656.f6ef18","type":"mqtt in","z":"4f00de5d.a3e81","name":"","topic":"test","qos":"2","broker":"4701934e.1c3ccc","x":270,"y":280,"wires":[["ae283741.901a38"]]},{"id":"ae283741.901a38","type":"debug","z":"4f00de5d.a3e81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":280,"wires":[]},{"id":"114b42d9.8a9e3d","type":"inject","z":"4f00de5d.a3e81","name":"","topic":"","payload":"Oleg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":120,"wires":[["7925db91.928644"]]},{"id":"7925db91.928644","type":"mqtt out","z":"4f00de5d.a3e81","name":"","topic":"test","qos":"","retain":"","broker":"4701934e.1c3ccc","x":440,"y":120,"wires":[]}]